[Unit]
Description=galexrt/desktop-helper

[Service]
Type=simple
ExecStart=/usr/local/bin/desktop-helper \
    -config %h/.desktop-helper/config.yaml
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
