[Unit]
Description=galexrt/desktop-helper

[Service]
Type=simple
ExecStart=/usr/local/bin/desktop-helper \
    -config %h/.desktop-helper/config.yaml
Restart=Always
RestartSec=15s

[Install]
WantedBy=default.target
